# Creación de nuestro primer proyecto de análisis de datos

In [1]:
import pandas as pd

In [15]:
mi_data_set = pd.read_csv('expanded_texto_emocion_dataset.csv')

In [18]:
mi_data_set

                                                 Texto    Emoción
0    ¡Esa montaña rusa fue increíblemente emocionan...   Sorpresa
1    Gané la lotería y puedo comprar la casa de mis...  Felicidad
2          Perdí a mi mejor amigo, me siento muy solo.   Tristeza
3    Gané la lotería y puedo comprar la casa de mis...  Felicidad
4    No puedo soportar el olor de la comida descomp...       Asco
..                                                 ...        ...
895  Perdí a mi mejor amigo, me siento muy solo. (V...   Tristeza
896  No puedo soportar el olor de la comida descomp...       Asco
897  No puedo creer que me hayan mentido de esa man...      Enojo
898  Perdí a mi mejor amigo, me siento muy solo. (V...   Tristeza
899  Escuchar esos ruidos por la noche me da mucho ...      Miedo

[900 rows x 2 columns]